#resultsOverview {
	color: gray;
}

.group {
	border-width: 0px;
	border-style: solid;
}

.groupLabel {
	font-weight: bold;
	border-radius: 7px;
	cursor: move;

	/* Disable selection label text */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.item {
	font-family: 'Cabin Sketch', cursive;
	font-size: 1.4em;
	background-color: #F8F794;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-radius: 7px;
	cursor: move;

	/* Disable selection label text */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#ideaBoxVis {
	font-family: 'Cabin Sketch', cursive;
	font-size: 1.0em;
	background-color: #F8F794;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: -3px;
	margin-left: -2px;
	border-radius: 7px;
}

.hilited {
	border-width: 1px;
	border-style: solid;
}