body {
    margin:5;
    padding:5;
    background-color: #d8e9a6;
}

body, td {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 0.8em;
}

a {
    color: #BD6E46;
}

a:hover {
    background-color: #B5C48A;
}

.header {
    font-size: 1.4em;
    font-weight: bold;
    width: 100%;
}

#topic {
	font-size: 1.4em;
	font-weiht: bold;
	margin-bottom: 0.4em;
}

#results {
	font-size: 1.2em;
	font-weiht: bold;
	margin-bottom: 1.5em;
}

#ideas {
	line-height: 1.6em;
}

#ideaBox {
	width: 60%;
	height: 25px;
}

.author {
	color: #888;
}

.editActive {
	background-color: #e8f9b6;
}

[behavior=editable]:hover {
	text-decoration: underline;
	cursor: pointer;
}

.group {
}

.groupLabel {
	font-weight: bold;
	border-radius: 7px;
	cursor: move;

	/* Disable selection label text */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.item {
	background-color: #F8F794;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-radius: 7px;
	cursor: move;

	/* Disable selection label text */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#ideaBoxVis {
	background-color: #F8F794;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 2px;
	padding-bottom: 2px;	
	border-radius: 7px;
}

.hilited {
	border-width: 1px;
	border-style: solid;
}