body {
    margin:5;
    padding:5;
    background-color: #d8e9a6;
}

body, td {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 0.8em;
}

a {
    color: #BD6E46;
}

a:hover {
    background-color: #B5C48A;
}

.header {
    font-size: 1.4em;
    font-weight: bold;
    width: 100%;
}

#ideas {
	line-height: 1.6em;
}

.author {
	color: #888;
}

.editActive {
	background-color: #e8f9b6;
}